html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
    width: 100%;
  }
 html {
 	 -webkit-text-size-adjust: none;
 }
 

#container {
	width: 100%;
	height: 100%;
	margin:0;
	position: absolute;
	overflow: hidden;
	background: center no-repeat url('bckgnd.png');
}
.logo,.heading,.couple,.text,.bttn,.text_footer, img {
	display: block;
}
img {
   width: 100%;
   height: auto;
   margin: 0;

}
.logo {
	margin: 4.6% auto 0 auto;
	width: 18.75%;
	height: 12.39%;

}
.heading {
	margin: 0 auto;
	width: 75.61%;
	height: 31.77%;

}
.couple {
	margin:0 auto;
	max-width: 29.20%;
	max-height: 23.94%;

}
.text {
	margin: 6% auto;
	max-width: 79.06%;
	max-height: 3.53%;

}
.bttn {
	margin: 8% auto 4% auto;
	max-width: 53.56%;
	max-height: 8.61%;
	
}
.text_footer {
	margin: 0 auto;
	width: 93.32%;
	height: 1.58%;
	
}
@media screen and (min-device-width: 1024px) {
	#container {
		position: absolute;
		left: 50%;
		margin-left:-230px;
		width: 460px;
		height: 100%;
	}
}
@media screen and (min-device-width: 1376px) {
	#container {
		position: absolute;
		left: 50%;
		margin-left:-340px;
		width: 680px;
		height: 100%;
	}
}